@use "./Vars" as *;

.headerCon {
  padding: 10px 5px;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(transparent, (rgb(0, 0, 0, 90%)), transparent);

  .goldh2 {
    color: $gold;
    display: inline;
  }
  .mainPicCon {
    // border: $test;
    .mainPic {
      max-width: 100%;
    }
  }
  .frontpr {
    color: $aquamarine;
  }
}
