@use "./Vars" as *;

.navFix {
  flex-grow: 0;
  padding: auto 20px;
  //   width: 50%;
  //   border: $test;
  li {
    margin: auto 10px;
  }
}
.licolor {
  color: white;
}

.logostyling {
  width: 60px;
}
