* {
  box-sizing: border-box;
  font-family: cursive;
  margin: 0;
}

body {
  color: white; /* Optional: Set the text color to white for better visibility */
}

html {
  min-height: 100vh !important;
  scroll-behavior: smooth;
}

h1 {
  color: gold;
  text-align: start;
}

select {
  border: none;
  outline: none;
  padding: 10px 5px;
  font-size: 20px;
  margin: 0 5px;
  border: 1px solid rgb(21, 10, 48);
  border-radius: 10px;
}

input {
  outline: none;
  border: 1px solid aquamarine;
  padding: 5px;
  border-radius: 10px;
  margin: auto 5px;
  background-color: rgb(21, 10, 48);
  min-width: 90%;
  color: aquamarine;
}

textarea {
  outline: none;
  border: 1px solid aquamarine;
  padding: 5px;
  border-radius: 10px;
  margin: auto 5px;
  background-color: rgb(21, 10, 48);
  min-width: 90%;
  color: aquamarine;
}

button {
  background-color: red;
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  padding: 5px 20px;
  margin: 10px;
}

.btnReverse {
  color: aquamarine !important;
  background-color: transparent;
  border: 1px solid aquamarine;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px;
}

form {
  padding: 5px;
}

li {
  list-style-type: none;
}

h4 {
  font-size: 23px;
  padding: 5px;
}

p {
  font-size: 14px;
  padding: 5px;
}

svg {
  color: aquamarine;
  font-size: 30px;
  margin: auto 4px;
}

a {
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

span {
  font-size: 20px;
  font-weight: bolder;
}

.bgcolor {
  background-color: rgb(21, 10, 48);
  color: aliceblue;
}

.navFix {
  flex-grow: 0;
  padding: auto 20px;
}
.navFix li {
  margin: auto 10px;
}

.licolor {
  color: white;
}

.logostyling {
  width: 60px;
}

.homeCon {
  overflow: hidden;
}

.headerCon {
  padding: 5px;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9), transparent);
}
.headerCon .goldh2 {
  color: gold;
  display: inline;
}
.headerCon .mainPicCon .mainPic {
  max-width: 100%;
}
.headerCon .frontpr {
  color: aquamarine;
}

.leftNavbar {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, rgb(0, 0, 0), transparent) !important;
  color: aquamarine;
}
.leftNavbar .intoConOfleftNav {
  width: 100%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftNavbar .intoConOfleftNav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.leftNavbar .intoConOfleftNav ul .phototFram {
  width: 60%;
  border-radius: 50%;
  border: 5px solid aquamarine;
  overflow: hidden;
  margin: auto;
}
.leftNavbar .intoConOfleftNav ul .phototFram img {
  width: 100%;
  height: auto;
}
.leftNavbar .intoConOfleftNav ul li {
  min-width: 60%;
  text-align: center;
  margin: 10px;
}
.leftNavbar .intoConOfleftNav ul li h5 {
  background-color: rgb(69, 48, 122);
  margin: 0;
  padding: 6px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .intoConOfleftNav {
    height: 100%;
  }
  ul {
    height: 100%;
  }
  .phototFram {
    max-width: 80%;
    height: auto;
  }
  h2 {
    font-size: 25px;
    width: 100%;
  }
  h5 {
    font-size: 20px;
    padding: 5px !important;
  }
  svg {
    font-size: 25px;
  }
  li {
    min-width: 90% !important;
    margin: 1px auto !important;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 22px;
    width: 100%;
  }
  h5 {
    font-size: 15px;
    padding: 6px !important;
  }
  svg {
    font-size: 20px;
  }
  li {
    min-width: 90% !important;
    margin: 8px !important;
  }
}
.skillsCon {
  padding: 5px;
  height: auto;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent, rgba(0, 0, 0, 0.9));
}

.FatherofporCon {
  padding: 5px;
  min-height: 500px;
  min-width: 100%;
  background: linear-gradient(transparent, black, transparent);
}
.FatherofporCon .portCon {
  border: 1px solid red;
}
.FatherofporCon .portCon .projectImgCon {
  border: 1px solid red;
  min-width: 95%;
  height: 300px;
}

.contactusCon {
  padding: 15px;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9), transparent);
}
.contactusCon .mesconleft {
  min-height: 500px;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}
.contactusCon .mesconleft .mesconchild {
  border-radius: 40px;
  margin: 10px 6px;
  padding: 15px;
  background: linear-gradient(black, transparent, black);
  border: 1px solid aquamarine;
}
.contactusCon .mesconleft .imgContactCon {
  max-width: 100%;
}
.contactusCon .mesconleft .imgContactCon img {
  max-height: 80px;
}
.contactusCon .mesconright {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid aquamarine;
  min-height: 500px;
  border-radius: 40px;
}

.freebackImg {
  border: 1px solid black;
  max-width: 120%;
  height: 420px;
  background-image: url("../img/freelancer.jpg");
  background-size: cover;
  opacity: 50%;
}

.freebackImg2 {
  min-width: 100%;
  height: 420px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(21, 10, 48);
}

.footerCon {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4));
  text-align: center;
}
.footerCon .logostylingFooter {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.footerCon h1 {
  text-align: center;
}
.footerCon a {
  color: white;
  display: block;
}/*# sourceMappingURL=main.css.map */